<!DOCTYPE html>
<html>
    <head>
        <title> Pixabay Search (Express Version) </title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

        <h1> Pixabay Search (Express Version) </h1>
        
        <form action="/results" method="GET">
            
            Keyword: <input type="text" name="keyword">
            Orientation: <select id="orientation" name="orientation">
                <option>Select One</option>
                <option value="vertical">Vertical</option>
                <option value="horizontal">Horizontal</option>
            </select>
            <button> Search! </button>
            
        </form> <br>
        
        
        <span class='likebox'>Likes: <%=like%></span>
            <img src='<%=image%>'>
        <span class='likebox'>Likes: <%=like2%></span>
            <img src='<%=image2%>'>
        <span class='likebox'>Likes: <%=like3%></span>
            <img src='<%=image3%>'>
        <span class='likebox'>Likes: <%=like4%></span>
            <img src='<%=image4%>'>

    </body>
</html>